# Wifi Secrets
wifi_access_key: "<wifi_key_here>"
network_24: "<2.4ghz wifi name here>"
network_5: "5ghz wifi name here>"

# DDNS Secrets
public_hostname: "<hostname.dynamic.dns>"
ddns_service_name: "<dynamic_dns_provider>"
ddns_username: "<ddns_username>"
ddns_password: "<ddns_password>"
                                                  
# OpenVPN Secrets
openvpn_incoming_udp_port:
openvpn_target_udp_port:
openvpn_incoming_tcp_port:
openvpn_target_tcp_port:
openvpn_server_ip:

# OpenVPN Secrets
ssh_incoming_tcp_port:
ssh_target_tcp_port:
ssh_server_ip:

# OpenVPN Secrets
plex_incoming_tcp_port:
plex_target_tcp_port:
plex_server_ip:
