#{{ ansible_managed }}

config ddns 'global'
	option ddns_dateformat '%F %R'
	option ddns_loglines '250'
	option upd_privateip '0'

config service 'myddns_ipv4'
	option lookup_host '{{public_hostname}}'
	option domain '{{public_hostname}}'
	option username '{{ddns_username}}'
	option password '{{ddns_password}}'
	option interface 'wan'
	option ip_source 'web'
	option ip_url 'http://checkip.dyndns.com/'
	option ip_network 'wan'
	option service_name '{{ddns_service_name}}'
	option use_https '1'
	option cacert '/etc/ssl/certs'
	option enabled '1'
	option use_syslog '4'
	option check_interval '15'
	option force_interval '24'

#config service 'myddns_ipv6'
#	option lookup_host '{{public_hostname}}'
#	option domain '{{public_hostname}}'
#	option username '{{ddns_username}}'
#	option password '{{ddns_password}}'
#	option use_ipv6 '1'
#	option interface 'wan6'
#	option ip_source 'web'
#	option ip_url 'http://checkip.dyndns.com/'
#	option ip_network 'wan6'
#	option service_name '{{ddns_service_name}}'
#	option use_https '1'
#	option cacert '/etc/ssl/certs'
#	option enabled '1'
#	option use_syslog '4'
#	option check_interval '15'
#	option force_interval '24'
#
#	option update_url 'http://[USERNAME]:[PASSWORD]@your.provider.net/nic/update?hostname=[DOMAIN]&myip=[IP]'
