#{{ ansible_managed }}

config interface 'loopback'
	option device 'lo'
	option proto 'static'
	option ipaddr '127.0.0.1'
	option netmask '255.0.0.0'

config globals 'globals'
	option ula_prefix 'fd2c:0187:edfb::/48'

config device
	option name 'br-lan'
	option type 'bridge'
	list ports 'lan1'
	list ports 'lan2'
	list ports 'lan3'
	list ports 'lan4'

config interface 'lan'
	option device 'br-lan'
	option proto 'static'
        option ipaddr '{{primary_ipaddr}}'
        option netmask '{{primary_netmask}}'
        option broadcast '{{primary_broadcast}}'
	option ip6assign '60'

config interface 'wan'
	option device 'wan'
	option proto 'dhcp'
	option hostname '*'      
        option peerdns '0'       
        list dns '{{ISPDNSSERVER1}}'
        list dns '{{ISPDNSSERVER2}}'

config interface 'tun0'
        option ifname 'tun0'
        option proto 'none'
        option auto '0'
	
config device
	option name 'wan'
	option ipv6 '0'
